<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Winnie dashboard</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="font-body text-white">
  <div id="app">
    <div class="map-container">
      <table class="map-data">
        
      </table>
      <div class="map">
      </div>
    </div>

    <div class="barplots">
      <div class="usernames-container svg-container"></div>
      <div class="passwords-container svg-container"></div>
      <div class="asnames-container svg-container"></div>
      <div class="identities-container svg-container"></div>
    </div>
  </div>
</body>
</html>