<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Winnie dashboard</title>
  @entryPointStyles('core')
  @entryPointScripts('core')
</head>
<body class="font-body text-black">
  <div id="app">
    
  </div>
</body>
</html>